@import "animations";
@import "fonts/sw/style";

@font-face {
  font-family: "Recoleta";
  src: url("fonts/Recoleta/RecoletaAlt-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Recoleta";
  src: url("fonts/Recoleta/RecoletaAlt-Medium.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Recoleta";
  src: url("fonts/Recoleta/RecoletaAlt-Light.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Sharp";
  src: url("fonts/Sharp/SharpSansBold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Caluna";
  src: url("fonts/caluna/calluna-regular.otf") format("opentype");
}

@font-face {
  font-family: "Sharp";
  src: url("fonts/Sharp/Sharp Sans Semibold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Sharp";
  src: url("fonts/Sharp/Sharp Sans Medium.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Sharp";
  src: url("fonts/Sharp/Sharp Sans.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Sharp";
  src: url("fonts/Sharp/Sharp Sans Light.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Caslon";
  src: url("fonts/Caslon/CaslonBlackSSK.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Caslon Two";
  src: url("fonts/Caslon/CaslonTwoBlackSSK.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

// * {
//   background: #000 !important;
//   color: #0f0 !important;
//   outline: solid #f00 1px !important;
// }
html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}
body {
  font-family: "Sharp", Helvetica, Arial, sans-serif;
  color: $ink;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  min-width: 1024px;
  overflow-x: hidden;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
h1 {
  font-size: 55px;
  padding: 20px 0;
  margin: 0;
  text-align: center;
}
h2 {
  font-size: 50px;
  padding: 80px 0 20px;
  margin: 0;
  text-align: center;
  font-weight: 800;
  line-height: 1;
}
h3 {
  font-size: 86px;
  box-sizing: border-box;
  padding: 0 10px;
}
h4 {
  text-transform: uppercase;
  span {
    font-weight: 100;
    font-style: italic;
  }
}
* {
  outline: none;
}
.inner {
  width: 1024px;
  margin: 0 auto;
  position: relative;
}
.container {
  overflow: hidden;
}
.left {
  float: left;
}
.right {
  float: right;
}
.table {
  display: table;
}
.table-row {
  display: table-row;
}
.table-cell {
  display: table-cell;
}
.highlight {
  font-weight: 600;
}
ul {
  list-style: none;
  padding: 0;
}
.invisible {
  width: 0;
  height: 0;
  padding: 0;
  opacity: 0;
  border: 0;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
@media (max-width: 640px) {
  body {
    min-width: auto;
  }
  .inner {
    width: 100%;
  }
}
@media (min-width: 641px) {
  .left-pan,
  .right-pan {
    position: relative;
    box-sizing: border-box;
    float: left;
    width: 50%;
    padding: 0 20px;
    margin: 50px 0;
    min-height: 1px;
  }
}
