$icomoon-font-family: "swfont" !default;
$icomoon-font-path: "fonts/sw/fonts" !default;

$sw-angle_up: "\e900";
$sw-arrow: "\e901";
$sw-binance: "\e902";
$sw-binder: "\e903";
$sw-bitfinex-path1: "\e904";
$sw-bitfinex-path2: "\e905";
$sw-bitstamp: "\e906";
$sw-bittrex: "\e907";
$sw-book: "\e908";
$sw-broken_pen: "\e909";
$sw-carrot_down: "\e90a";
$sw-carrot_left: "\e90b";
$sw-carrot_right: "\e90c";
$sw-carrot_up: "\e90d";
$sw-check: "\e90e";
$sw-cog: "\e90f";
$sw-coins: "\e910";
$sw-copy: "\e911";
$sw-couchdb: "\e912";
$sw-cryptopia: "\e913";
$sw-dot_empty: "\e914";
$sw-dot: "\e915";
$sw-down-path1: "\e916";
$sw-down-path2: "\e917";
$sw-gdax: "\e918";
$sw-gemini: "\e919";
$sw-hashtag_merge: "\e91a";
$sw-hashtag: "\e91b";
$sw-history: "\e91c";
$sw-kraken: "\e91d";
$sw-kucoin: "\e91e";
$sw-law: "\e91f";
$sw-lightbulb: "\e920";
$sw-list: "\e921";
$sw-lock: "\e922";
$sw-magnifier: "\e923";
$sw-market: "\e924";
$sw-merge: "\e925";
$sw-new_order: "\e926";
$sw-order: "\e927";
$sw-paw: "\e928";
$sw-pen: "\e929";
$sw-piggy: "\e92a";
$sw-pin: "\e92b";
$sw-plus: "\e92c";
$sw-poloniex: "\e92d";
$sw-profile: "\e92e";
$sw-refresh: "\e92f";
$sw-session: "\e930";
$sw-share_android: "\e931";
$sw-share_ios: "\e932";
$sw-sharp: "\e933";
$sw-silex: "\e934";
$sw-spinner: "\e935";
$sw-star_full: "\e936";
$sw-star: "\e937";
$sw-thumbsup_full: "\e938";
$sw-thumbsup: "\e939";
$sw-trash: "\e93a";
$sw-up-path1: "\e93b";
$sw-up-path2: "\e93c";
$sw-wallet: "\e93d";
$sw-x: "\e93e";
$sw-xbtce: "\e93f";
$sw-yobit: "\e940";

